<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :アラーム時刻 %>
    <%= form.time_select :set_at %>
  </div>

  <div class="actions">
    <%= form.submit "設定する",class: "btn btn-primary" %>
  </div>
<% end %>
